*{
    box-sizing: border-box;
}

#rrot, html, body{
    /* height: 100vh; */
}

body{
    margin: 0;
    /* background-color: whitesmoke; */
        background-color: #f8ceec;
background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
/* background-color: #d9e4f5;
background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%); */

}

html{
    scroll-behavior: smooth;
}